In [ ]:
# Question 1 :
# Answer :

In [1]:
# Question 2: What are data structures, and why are they important?
# Answer: Data structure is the way of storing the data so that data can be manipulated efficiently.
#         Data structure help us to manipulate the data in a cleaner, faster, and easier to understand.That's why data structure is immportant.

In [ ]:
# Question 2 : Explain the difference between mutable and immutable data types with examples
# Answer : Mutable data type can be changed. We can modify the elements without creating a new object. Example : List, dictionary
#          Immutable data type cannot be changed or modify. Example : String, tuple.

In [ ]:
# Question 3 :What are the main differences between lists and tuples in Python ?
# Answer : Lists are mutbabe so that it can be modify Example : Lists and Tuple cannot be modify because it is immutable data type. Example : Tuple

In [2]:
# Question 4 : Describe how dictionaries store data?
# Answer : Dictionaries stores the data the form of key-value pair for Ex : 
d = {"Name":"Gaurav","Age": 28,} # Here Name is a key and the Gaurav is the value.

In [ ]:
# Question 5: Why might you use a set instead of a list in Python ?
# Answer : Set automatically removes the duplicate values, where the list store the data with the duplcate values. So that's why set is preferred
#          over list.

In [ ]:
# Question 6 : What is a string in Python, and how is it different from a list?
# Answer : In the strings we can store only alphabetical data sequence, where as in a list we can store any data type.
#          Strings are homogenous and lists are heterogenous data type.
#          Srings are immutable and lists are mutable data type.

In [ ]:
# Question 7 : How do tuples ensure data integrity in Python?
# Answer : Tuples are immutable in nature it store the data it cannot be change. It prevents unwanted changes, it keeps data format consistent.

In [ ]:
# Question 8 : What is a hash table, and how does it relate to dictionaries in Python 
# Answer : A hash table is a data structure that stores key-value pairs and allows for fast lookups, insertions, and deletions

In [ ]:
# Question 9: Can lists contain different data types in Python?
# Answer :  Yes lists can cantain the different data types because it is heterogenous in nature can store a mix of integers, strings, floats, booleans, other lists, even objects—all in the same list.

In [ ]:
# Question 10 : Explain why strings are immutable in Python ?
# Answer : String can store only alphabetically data set, data cannot be changed once stored. That's why strings are immutable.

In [ ]:
# Question 11 : What advantages do dictionaries offer over lists for certain tasks.
# Answer : Dictionaries allow quick access to values using keys, not indexes.
#          Dictionaries use meaningful keys instead of numeric indexes.
#          Code is more readable and self-explanatory.
#          Easier Data Mapping

In [ ]:
# Question 12 : Describe a scenario where using a tuple would be preferable over a list ?
# Answer : Where we need to store a unique data value we use tuple. for example : aadhar number, PAN number.

In [ ]:
# Question 13: How do sets handle duplicate values in Python?
# Answer : Sets automatically removes the duplicate values from a data set and stores only unique values.

In [ ]:
# Question 14: How does the “in” keyword work differently for lists and dictionaries?
# Answer :  The "in" keyword checks if the value is exist in the lists and dictionaries or not.

In [ ]:
# Question 15: Can you modify the elements of a tuple? Explain why or why not ?
# Answer:  The elements in the tuple cannot be modify because tuples are immutable

In [8]:
# Question 16: What is a nested dictionary, and give an example of its use case ?
# Answer : A dictionary inside a another dictionary is called nested dictionary. Just like nested if
# Use case: 
{'Name': ['Gaurav', 'rabhya', 1, 2], 'Age': 28}

In [ ]:
# Question 17: Describe the time complexity of accessing elements in a dictionary ?
# Answer: Not able to answer

In [ ]:
# Question 18: In what situations are lists preferred over dictionaries?
# Answer: We can access the list by the index number,
#         Where we need to put the duplicate numbers we uses list

In [ ]:
# Question 19: Why are dictionaries considered unordered, and how does that affect data retrieval?
# Answer :     No Answer

In [ ]:
# Question 20: Explain the difference between a list and a dictionary in terms of data retrieval.
# Answer: In list we can access the data by using index number, where as in dict we can access the data by using key value

In [ ]:
################################### PRACTICAL QUESTIONS #####################################3

In [10]:
# 1. Write a code to create a string with your name and print it ?
Name = "Gaurav"
print("My name is", Name)

My name is Gaurav

In [11]:
# 2.Write a code to find the length of the string "Hello World"
Data = "Hello World"
len(Data)

11

In [13]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
Data = "Python Programming"
task = Data[:3]
task

'Pyt'

In [16]:
# 4. Write a code to convert the string "hello" to uppercase
d = "hello"
d.upper()

'HELLO'

In [17]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
d= "I like orange"
updated_d = d.replace("orange","apple")
updated_d

'I like apple'

In [18]:
# 6.Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [19]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
numbers

[1, 2, 3, 4, 10]

In [20]:
# 8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1,2,3,4,5]
numbers.remove(3)
numbers

[1, 2, 4, 5]

In [22]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

A= ['a', 'b', 'c', 'd']
b= A[1]
b

'b'

In [23]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].
G= [10,20,30,40,50]
G.reverse()
G

[50, 40, 30, 20, 10]

In [24]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

a= (100,200,300)
a

(100, 200, 300)

In [26]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
a = ('red', 'green', 'blue', 'yellow')
b= a[-2]
b

'blue'

In [ ]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [27]:
a= (10, 20, 5, 15)
b= min(a)
b

5

In [29]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a= ('dog', 'cat', 'rabbit')
a.index('cat')

1

In [31]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('orange', 'banana', 'kiwi')
result= 'kiwi' in fruits
result

True

In [32]:
# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

Set = {'a', 'b', 'c'}
Set

{'a', 'b', 'c'}

In [36]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
a= {1, 2, 3, 4, 5}
a.clear()
a

set()

In [39]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a= {1, 2, 3, 4}
a.remove(4)
a

{1, 2, 3}

In [40]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a= {1, 2, 3}
b= {3, 4, 5}
c= a ^ b
c

{1, 2, 4, 5}

In [41]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a= {1, 2, 3}
b= {2, 3, 4}
c = a & b
c

{2, 3}

In [5]:
# 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

a= {"name : Gaurav", "age : 28", "city : Ambala Cantt"}
    
a

{'age : 28', 'city : Ambala Cantt', 'name : Gaurav'}

In [9]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

a= {'name': 'John', 'age': 25}
b= {"country": "USA"}
a.update(b)
a

{'name': 'John', 'age': 25, 'country': 'USA'}

In [19]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
a= {'name': 'Alice', 'age': 30}
a['name']

'Alice'

In [24]:
# 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
a= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del a['age']
a

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
a = {'name': 'Alice', 'city': 'Paris'}
if 'city' in a:
    print("Available")

Available

In [26]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lis = [1, 2, 3, 4, 5]
tup = ('apple', 'banana', 'cherry')
dic = {'name': 'Bob', 'age': 30}
print("List:",lis)
print("Tuple:",tup)
print("Dictionary:",dic)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Bob', 'age': 30}

In [38]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

Number = range(1,100)
Number

range(1, 100)

In [39]:
# 28. Write a code to create a list with strings and print the element at the third index.

basket = ['apple', 'banana', 'cherry', 'date', 'elderberry']
basket [3]

'date'

In [43]:
# 29. Write a code to combine two dictionaries into one and print the result.
a= {1,2,3}
b =  {4,5,6}
for i in zip (a,b):
    print(i)

(1, 4)
(2, 5)
(3, 6)

In [45]:
# 30. Write a code to convert a list of strings into a set.
my_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
my_string = set(my_list)
my_string

{'apple', 'banana', 'cherry'}